build
.test
actual.c
actual.txt
expected.txt
wip
.gitattributes
*.WinMerge
docs/_*
.tags

# Visual-Studio files
*.sln
*.VC.db
*.VC.VC.opendb
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
.vs/

# Eclipse files
/.project

# CLion files
.idea
cmake-build-debug/
CMakeLists.txt

# Atom files
.tags
