language: c

dist: bionic

compiler:
  - gcc
  - clang

os:
  - linux

install:
  - sudo apt-get update
  - sudo apt-get install valgrind
  - sudo apt-get install python3-pip
  - sudo apt-get install python3-setuptools
  - sudo apt-get install python3-enchant
  - pip3 install --user setuptools wheel virtualenv
  - pip3 install --user -r docs/requirements.txt

script:
  - make all
  - ./test.sh

after_success:
  - bash <(curl -s https://codecov.io/bash)
